services:
  reconhecimento_facial_db:
    container_name: reconhecimento_facial_db
    image: mysql:latest
    ports:
      - "33061:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: iftm

  reconhecimento_facial_api:
    container_name: reconhecimento_facial_api
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - reconhecimento_facial_db
    ports:
      - "8004:8000"
    environment:
      IN_DOCKER: true
