services:
  reconhecimento_facial_db:
    container_name: reconhecimento_facial_db
    image: mysql:latest
    ports:
      - "33061:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: iftm
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
      interval: 5s

  reconhecimento_facial_api:
    container_name: reconhecimento_facial_api
    build:
      context: ../src/infra
      dockerfile: Dockerfile
    depends_on:
      reconhecimento_facial_db:
        condition: service_healthy
    ports:
      - "8004:8000"
    environment:
      IN_DOCKER: "true"
      USE_WEBCAM_FALLBACK: "false"
    volumes:
      - ./pictures:/reconhecimento_facial/pictures
      - ./classifierLBPH.yml:/reconhecimento_facial/classifierLBPH.yml